<div class="content zan-login-content">
    <div class="container">
        <div class="page-login full-bottom zan-page-login">
            <a href="#" class="zan-page-login-logo"></a>
            <p><strong>Trouble Loggin in?</strong></p>
            <p>Enter your email and we'll send you a link to get back into your account.</p>
            <div class="zan-email-input">
                <input type="text" value="E-mail" onfocus="if (this.value=='E-mail') this.value = ''" onblur="if (this.value=='') this.value = 'E-mail'">
            </div>

            <div class="clear"></div>
            <a href="#" class="login-button button button-small button-orange button-fullscreen zan-help-sign-in">Send Login Link</a>
            <div class="clear"></div>
        </div>
    </div>
<div