<div class="container">
    <div class="page-login full-bottom zan-page-login">
        <a href="#" class="zan-page-login-logo"></a>
        <div class="login-input">
            <i class="fa fa-user"></i>
            <input name="email" type="text" value="Username" onfocus="if (this.value=='Username') this.value = ''" onblur="if (this.value=='') this.value = 'Username'">
        </div>
        <div class="login-password">
            <i class="fa fa-lock"></i>
            <input name="email" type="password" value="password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'">
        </div>
        <a href="#" class="login-forgot"><i class="fa fa-eye"></i>Forgot Credentials</a>
        <a href="#step-1" class="login-create">Create Account<i class="fa fa-user"></i></a>
        <div class="clear"></div>
        <a href="#login" class="login-button button button-orange button-fullscreen">Login</a>
        <div class="clear"></div>
        <p>Forget your login details? <a href="#login-help">Get help signing in</a></p>
    </div>
</div>