<div class="content-fullscreen zan-content-fullscreen">
    <div class="page-profile">
        <div class="page-profile-header">
            <div class="float-left">
                <a href="images/pictures/5.jpg" class="show-gallery" title="Profile Image!">
                    <img data-original="images/zan-images/avatar.png" class="preload-image" alt="img">
                </a>
                <div class="zan-change-button">
                    <a href="#">Change</a>
                </div>
            </div>
            <div class="float-left">
                <h4>Superman</h4>
            </div>
            <div class="clear"></div>
        </div>
        <div class="zan-profile-coupons">
            <a href="#">
                <span>Valid <br> Coupons</span><br>
                <span>12</span>
            </a>
            <a href="#">
                <span>Linked<br>Shoppers</span><br>
                <span>15</span>
            </a>
            <a href="#">
                <span>Friends<br>Coupon</span><br>
                <span>3</span>
            </a>
            <a href="#">
                <span>Coupon<br>Sent</span><br>
                <span>18</span>
            </a>
            <div class="clear"></div>
        </div>

        <form action="#" id="zan-personal-data">
            <div>
                <label for="zan-name">
                    First and Last Name:</label>
                <input type="text" id="zan-name">
            </div>
            <div>
                <label for="zan-nick-name">
                    Nick Name:</label>
                <input type="text" id="zan-nick-name">
            </div>
            <div>
                <label for="zan-gender">Gender:</label>
                <select name="gender" id="zan-gender">
                    <option value="">Not Specified</option>
                    <option value="">Male</option>
                    <option value="">Female</option>
                </select>
            </div>
            <div>
                <label for="zan-phone">
                    Tel:</label>
                <input type="text" id="zan-phone">
            </div>
            <div>
                <label for="zan-post-code">
                    Post Code:</label>
                <input type="text" id="zan-post-code">
            </div>
            <div>
                <label for="zan-birthday">Birthday:</label>
                <input type="datetime-local" id="zan-birthday">
            </div>
        </form>
    </div>
</div>