<div class="page-profile">
    <div class="zan-profile-coupons">
        <a href="#">
            <span>Valid <br> Coupons</span><br>
            <span>12</span>
        </a>
        <a href="#">
            <span>Linked<br>Shoppers</span><br>
            <span>15</span>
        </a>
        <a href="#">
            <span>Friends<br>Coupon</span><br>
            <span>3</span>
        </a>
        <a href="#">
            <span>Coupon<br>Sent</span><br>
            <span>18</span>
        </a>
    </div>

    <div class="clear"></div>

    <div class="zan-container-content">

        <form action="#" id="zan-personal-data">
            <div>
                <label for="zan-name">
                    First and Last Name:</label>
                <input type="text" id="zan-name">
            </div>
            <div>
                <label for="zan-nick-name">
                    Nick Name:</label>
                <input type="text" id="zan-nick-name">
            </div>
            <div>
                <label for="zan-gender">Gender:</label>
                <div id="zan-gender"></div>
            </div>
            <div>
                <label for="zan-phone">
                    Tel:</label>
                <input type="text" id="zan-phone">
            </div>
            <div>
                <label for="zan-post-code">
                    Post Code::</label>
                <input type="text" id="zan-post-code">
            </div>
            <div>
                <label for="zan-post-code">
                    Post Code::</label>
                <input type="text" id="zan-post-code">
            </div>
            <div>
                <label for="zan-birthday">Birthday:</label>
                <div id="zan-birthday"></div>
            </div>
        </form>
    </div>
</div>