<div id="page-sign-up" class="content">
    <div class="container">
        <div class="page-login full-bottom zan-page-login">

            <div class="zan-email-input">
                <input type="text" value="E-mail" onfocus="if (this.value=='E-mail') this.value = ''" onblur="if (this.value=='') this.value = 'E-mail'">
            </div>

            <div class="clear"></div>
            <a href="#step-2" class="login-button button button-orange button-fullscreen zan-help-sign-in">Next</a>
            <div class="clear"></div>

        </div>
    </div>
</div>
<div class="zan-footer-text center-text">
    <p>Already have an account? <a href="#login">Sign in</a></p>
</div>