<div class="zan-card zan-card-1 zan-container-content">
    <img class="preload-image" data-original="images/zan-images/the_loop_restaurant_logo_by_yasergrafix-d5f3q5p_PicViewer.jpg" alt="img" src="images/pictures/1t.jpg" style="display: block;">
    <div class="zan-wrap-content">
        <strong>Le Chature Restaurant</strong>
        <p class="address">7957 Kings way, Burnaby <br>
            604.712.6741 <br>
            www.lechature.com
        </p>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
                <div>Total Coupon</div>
                <div>15</div>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <div>Your Coupon</div>
                <div>3</div>
            </div>
        </div>
    </div>
</div>

<div class="home-tabs zan-filter-tabs">
    <a class="activate-tab-1 active-home-tab" href="#">All</a>
    <a class="activate-tab-2" href="#">Yous</a>
    <div class="clear"></div>
</div>
<div id="tab-1">
    <div class="zan-thumb-layout">
        <div class="zan-card zan-container-content">
            <a href="coupon-detail.html">
                <div class="zan-container zan-red">
                    <h4>Spent over $20 get one free coffee</h4>
                    <b>Days left: 15</b>
                    <em>2016.09.12-2016.12.01</em>
                </div>
            </a>
            <div class="zan-action-button">
                <a href="#" class="show-dialog-add-coupon"><i class="fa fa-plus-square-o"></i></a>
            </div>
        </div>
        <div class="zan-card zan-container-content">
            <a href="coupon-detail.html">
                <div class="zan-container zan-orange">
                    <h4>Spent over $20 get one free coffee</h4>
                    <b>Days left: 15</b>
                    <em>2016.09.12-2016.12.01</em>
                </div>
            </a>
            <div class="zan-action-button">
                <a href="coupon-alert-setting.html"><img src="images/zan-icon/alert.png" alt="" width="36" height="36"></a>
                <a href="#" class="show-dialog-remove-coupon"><img src="images/zan-icon/remove.png" alt="" width="36" height="36"></a>
                <a href="#"><img src="images/zan-icon/add-to-apple-wallet-logo.png" alt="" height="36"></a>
            </div>
        </div>
    </div>
</div>
<div id="tab-2">
    <div class="zan-thumb-layout">
        <div class="zan-card zan-container-content">
            <a href="coupon-detail.html">
                <div class="zan-container zan-red">
                    <h4>Spent over $20 get one free coffee</h4>
                    <b>Days left: 15</b>
                    <em>2016.09.12-2016.12.01</em>
                </div>
            </a>
            <div class="zan-action-button">
                <a href="coupon-alert-setting.html"><img src="images/zan-icon/alert.png" alt="" width="36" height="36"></a>
                <a href="#" class="show-dialog-remove-coupon"><img src="images/zan-icon/remove.png" alt="" width="36" height="36"></a>
                <a href="#"><img src="images/zan-icon/add-to-apple-wallet-logo.png" alt="" height="36"></a>
            </div>
        </div>
        <div class="zan-card zan-container-content">
            <a href="coupon-detail.html">
                <div class="zan-container zan-orange">
                    <h4>Spent over $20 get one free coffee</h4>
                    <b>Days left: 15</b>
                    <em>2016.09.12-2016.12.01</em>
                </div>
            </a>
            <div class="zan-action-button">
                <a href="coupon-alert-setting.html"><img src="images/zan-icon/alert.png" alt="" width="36" height="36"></a>
                <a href="#" class="show-dialog-remove-coupon"><img src="images/zan-icon/remove.png" alt="" width="36" height="36"></a>
                <a href="#"><img src="images/zan-icon/add-to-apple-wallet-logo.png" alt="" height="36"></a>
            </div>
        </div>
    </div>
</div>