<a href="#store-item/<%=id %>">
    <img class="preload-image" data-original="images/zan-images/shop-logo.gif" alt="img" src="images/pictures/1t.jpg" style="display: block;">
    <div class="zan-wrap-content">
        <strong>LE Cature Restaurant</strong>
        <p>Burnaby</p>
        <p>
            <i class="fa">
                <img class="footer-menu-icon" src="images/zan-icon/coupon.png" width="24" height="24" alt="">
            </i>
            <span class="qty">5</span>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </p>
    </div>
</a>