<div class="content" id="content">
    <div class="zan-container-content">
        <div class="zan-content-header">
            <h2>
                <img class="preload-image" data-original="images/zan-images/u150.png" alt="img" width="40">
                <%=couponTemplate.shopper.name%>
            </h2>
            <h1 class="<%=couponTemplate.styleScheme['background-class'] %>"><%=couponTemplate.title %></h1>
        </div>
        <div class="zan-content">
            <div class="zan-title-coupon">
                <img class="preload-image" data-original="images/zan-images/friends-coupon.png" alt="img" height="50" style="margin:0 auto">
                <span><%=couponTemplate.passType.name %></span>
            </div>

            <div class="zan-container zan-container-detail">
                <h2><%=couponTemplate.title %></h2>

                <%
                    var oneDay = 24*60*60*1000;
                    var createdDate = new Date(createdDate.date);
                    var expirationDate = new Date(expirationDate.date);
                    var diffDays = Math.round(Math.abs((createdDate.getTime() - expirationDate.getTime())/(oneDay)));
                %>
                <b>Days left: <%=diffDays %></b><br>
                <em><%=createdDate.toLocaleDateString() %>-<%=expirationDate.toLocaleDateString() %></em>
            </div>
            <div class="center-text">
                <div class="zan-qr-code">
                    <img class="preload-image" data-original="images/zan-images/qr-code.png" alt="img" width="100">
                </div>
                <div class="zan-coupon-number"><%=couponCode%></div>
            </div>
            <div class="zan-content-footer">
                <div class="center-text">
                    <%=finePrint %>
                </div>
            </div>
        </div>
    </div>
</div>
